<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Marcgento_ModuloBasico::marcgentobackend"
            title="MarcgentoBackend"
            module="Marcgento_ModuloBasico"
            sortOrder="50"
            parent="Magento_Backend::marketing"
            resource="Marcgento_ModuloBasico::marcgentobackend"
        />
        <add
            id="Marcgento_ModuloBasico::index"
            title="MarcgentoBackend Index"
            module="Marcgento_ModuloBasico"
            sortOrder="51"
            parent="Marcgento_ModuloBasico::marcgentobackend"
            action="marcgentoadmin/index/"
            resource="Marcgento_ModuloBasico::index"
        />
        <add
            id="Marcgento_ModuloBasico::subscription"
            title="Subscription"
            module="Marcgento_ModuloBasico"
            sortOrder="52"
            parent="Marcgento_ModuloBasico::marcgentobackend"
            action="marcgentoadmin/subscription/"
            resource="Marcgento_ModuloBasico::subscription"
        />
    </menu>
</config>
