<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="marcgentotab" translate="label" sortOrder="80">
            <label>Marcgento Tab</label>
        </tab>
        <section id="marcgentosection" translate="label" sortOrder="70" showInDefault="1" shoInWebsite="1" shoInStore="1">
            <label>Marcgento Section</label>
            <tab>marcgentotab</tab>
            <resource>Marcgento_ModuloBasico::config_marcgento</resource>
            <group id="marcgentogroup" translate="label" sortOrder="1" showInDefault="1" shoInWebsite="1" shoInStore="1">
                <label>Config Page Group</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" shoInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" shoInStore="1">
                    <label>Title Marcgento</label>
                </field>
            </group>
        </section>
    </system>
</config>
